@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
.slate-selection-container {
  z-index: 9999 !important;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    background: #0a0a0a;
    color: white;
  }
  .is-active-categories {
    @apply text-sm font-semibold bg-white text-black  py-3 px-3 text-center duration-300 rounded-full;
  }
  .wrapper {
    max-width: 1920px;
    @apply mx-auto;
  }
  .is-active-red {
    @apply outline-none border border-stone-800 duration-300;
  }
  .avatar-shadow1 {
    @apply border border-primary;
    box-shadow: 0 0 0 3px rgb(44, 143, 255, 0.25);
  }
  .avatar-shadow2 {
    @apply border border-secondary;
    box-shadow: 0 0 0 3px rgb(250, 149, 117, 0.25);
  }
}
@layer components {
  .heading-1 {
    @apply text-2xl font-semibold text-white mb-6;
  }
  .descripion-1 {
    @apply text-base font-normal text-gray9 mb-8;
  }
  .bg-gradient-gray {
    --gray1: rgb(245, 246, 256);
    background: radial-gradient(
      100% 75% at 0% 0%,
      #cbd4e4 0%,
      var(--gray1, rgb(245, 246, 250)) 100%
    );
  }
  .text-gradients {
    color: transparent;
    background-image: linear-gradient(142deg, #6973db, #fe9ca1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .bg-gradient-text {
    color: transparent;
    background-image: linear-gradient(
      90deg,
      rgb(105, 102, 115) 0%,
      rgb(255, 255, 255) 55%,
      rgb(105, 102, 115) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .shadow-gray {
    box-shadow:
      0 6.350044814858119px 6.350044814858119px -2.142857142857143px #dde3eeab,
      0 11.051870570040771px 11.051870570040771px -2.678571428571429px #dde3ee9c,
      0 40px 40px -3.75px #dde3ee40;
  }
  .shadow-dark {
    box-shadow: inset 0 -20px 80px -20px #ffffff1f;
  }
  .border-dark {
    border: 1px solid hsla(0, 0%, 100%, 0.1);
  }
  .mask-overlay {
    position: relative;
  }
  .mask-overlay::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    pointer-events: none;
  }
  .border-grid {
    --tw-shadow: 0 0 0 1px #212121;
    --tw-shadow-colored: 0 0 0 1px;

    box-shadow:
      0 0 #0000,
      0 0 #0000,
      0 0 #0000,
      0 0 #0000,
      var(--tw-shadow);
  }
}

@layer utilities {
  .swal2-container {
    .swal2-popup {
      @apply rounded-xl p-8 w-full;
      max-width: 500px;
    }
    .swal2-popup .swal2-title {
      @apply text-xl font-bold text-grayDarkest;
    }
    .swal2-popup .swal2-styled.swal2-confirm {
      all: unset;
      box-sizing: border-box;
      @apply text-white bg-primary font-semibold rounded-lg px-4 py-2 h-12 w-28 flex items-center justify-center text-center text-sm cursor-pointer hover:bg-opacity-90;
    }
    .swal2-popup .swal2-styled.swal2-cancel {
      all: unset;
      box-sizing: border-box;
      @apply bg-transparent text-grayDarkest hover:bg-none hover:bg-transparent h-10 w-28 text-sm font-semibold px-4 py-2 cursor-pointer text-center hover:text-opacity-55;
    }
    .swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
      @apply bg-none;
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: "";
    @apply absolute -inset-4 shadow-xl rounded-xl border;
  }
}
